body {
	background: #eef5f9 !important;
    
}

.form-control {
	background-color: transparent !important;
}

.wrapper {

	padding-left: 10em;
	padding-right: 10em;
}

.container-fluid {
    max-width: 100% ;
}

label.form-check-label {
    font-size: 14px;
}

.top_box {
    background: #eef5f9 !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-image: none;
    background-size: auto;
    background-image: url("../img/header_logo.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-y: 20px !important;
    position: relative;
    background-position-x: 24px !important;
}

.text_div_p {
    margin-top: 10em !important;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 600 !important;
    color: #222;
}

.text_div {

	/*margin-top:5em; */
	/*color: #222;
	font-size: 16px;
	font-weight: 600;*/
}

.text_blue {
    color: #0071c3;
    font-size: 22px;
    font-weight: 600;
}

.field {
    border-radius: 20px;
    background: transparent;
    border: 2px #c7c7c7 solid;
    padding-left: 15px;
}

@media screen and (max-width: 768px) {
   
   .wrapper {
	padding-left: 1em;
	padding-right: 1em;
}

.text_div_p {
    margin-top: 5em !important;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 600 !important;
    color: #222;
}

.text_blue {
    color: #0071c3;
    font-size: 20px;
    font-weight: 600;
}

}